db.sqlite3
.vscode
pos_api/__pycache__/
pos_api/settings/__pycache__/
v1/__pycache__/
v1/management/__pycache__/
v1/management/commands/__pycache__/
v1/migrations/__pycache__/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

webpack-stats.dev.json
webpack-stats.prod.json
assets/
node_modules/