packages:
  yum:
    git: []
    postgresql93-devel: []
    libjpeg-turbo-devel: []

commands:
    01_node_install:
        cwd: /tmp
        test: '[ ! -f /usr/bin/npm ] && echo "npm not installed"'
        command: 'curl --silent --location https://rpm.nodesource.com/setup_8.x | bash - && yum -y install nodejs'