container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate --noinput"
    leader_only: true
  02_createsu:
    command: "source /opt/python/run/venv/bin/activate && python manage.py createsu"
    leader_only: true
  03_npm_install:
    command: "npm install --prefix ./frontend/ --unsafe-perm=true"
  04_npm_build:
    command: "npm --prefix ./frontend/ run build --unsafe-perm=true"
  05_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"
  06_update_apache:
    command: "sh .ebextensions/update-apache.sh"
option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "gene_profile.settings.production"
    SECRET_KEY: "b8&k!skhmvvm@^7h%cj^0snc!av5*w6rr!f#d@^(@cpj#q)1l8"
    "PYTHONPATH": "/opt/python/current/app/:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: gene_profile/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "gene-profile-s3.s3.amazonaws.com/static/"